* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181a1c;
  color: white;
  font-family: "Nunito", sans-serif;
}

.main {
  width: 100%;
  padding: 22px 0 96px;
}

.main__container {
  width: 100%;
  max-width: 1266px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.main__section {
  width: 100%;
}
.main__section--small {
  background: #111214;
}

@media screen and (min-width: 1024px) {
  .main__container {
    flex-direction: row;
  }

  .main__section--small {
    max-width: 370px;
  }
}

.nav_links,
nav {
  display: flex;
  list-style: none;
}

.contact {
  margin-left: 34px;
  margin-right: 32px;
}

.nav_links {
  gap: 16px;
}

.nav_links a {
  text-decoration: none;
}

.header__nav {
  margin-left: auto;
  align-items: center;
}

.h1 {
  text-align: center;
  margin-top: 32px;
}

.label {
  margin-left: 32px;
}

/* button {
  margin-right: 32px;
  padding: 16px 48px;
  border-radius: 12px;
  color: #b7b8b9;
  background: transparent;
  border-color: #b7b8b9;
  border-width: 1px;
  border-style: solid;
} */

.dropdown {
  display: block;
  padding: 16px;
  width: 100%;
  max-width: 320px;
  margin-left: 30px;
  margin-right: 18px;
  color: #53565a;
  background: #ffffff;
  border-radius: 4px;
}

.select_container {
  margin-bottom: 32px;
}

.main__section {
  padding-bottom: 32px;
}

.int_button {
  width: 219px;
  height: 68px;
  padding: 16px 72px;
  background: #43b97f;
  border-radius: 12px;
  color: #ffffff;
}
.h2 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  position: sticky;
  top: 0;
  background-color: #111214;
}

span {
  font-size: 36px;
}

.overflow {
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}
.green-heart {
  color: #43b97f;
}
.overflow::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.home-page__animation {
  margin-bottom: 32px;
  margin-left: 32px;
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.shape {
  width: 191px;
  height: 170px;
  background-color: #43b97f;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-reflect: below 20px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  margin-bottom: 64px;
}

.text {
  color: #43b97f;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  margin-bottom: 120px;
  width: 284px;
  left: 605px;
  top: 379px;
  font-weight: 800;
  font-size: 48px;
  line-height: 150%;
}
.shape > div {
  width: 90px;
  height: 80px;
  left: 677px;
  top: 430.59px;
  background: #30835a;
  border-radius: 14px;
}

.animate__box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animate__text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate__code {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
}
.scan-barcode {
  padding-right: 16px;
}

.activity__count {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 0.5;
  top: 0;
  left: auto;
  transform: translateX(100%);
  right: 0;
  border: 0.5px solid #ffffff;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 3px;
}

.modal-box {
  background: #111214;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 0%;
  overflow: hidden;
}

.modal-header {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: flex-start;
  padding-top: 7px;
  padding-left: 20px;
  margin-bottom: 3px;
}

.modal-body {
  background-color: #181a1c;
  height: 100%;
  max-height: 469px;
  padding-left: 20px;
  overflow-y: auto;
  padding-top: 20px;
}

.modal-footer {
  padding: 10px 41px;
}

.modal-close {
  margin-left: auto;
  margin-right: 20px;
  background: #111214;
  color: white;
}

.modal-button {
  margin-left: auto;
  color: white;
  background: #43b97f;
  border-radius: 12px;
  width: 143px;
  height: 52px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
