.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  display: block;
  line-height: 150%;
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  position: relative;
}

.nav__item--current .nav__link,
.nav__link:hover {
  color: #43b97f;
}

.nav__item--current .nav__link {
  border-bottom: 1px solid #43b97f;
}
