@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

/* BASIC SETTING */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    background-color: #181A1C;
    color: #FFFFFF;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logoDiv {
    margin: 25px 0 0 80px;
}

.logoDiv .logo {
    width: 177.64px;
}

.darkModeDiv {
    margin: 25px 80px 0 0;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
}

.formContainer {
    width: 523px;
    height: 366px;
}

h2 {
    color: #43B97F;
    font-weight: 800;
    font-size: 48px;
}

.parag {
    font-weight: 800;
}

.one {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
}

.two {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
}

label {
    display: block;
    font-size: 18px;
}

input {
    display: block;
    width: 512px;
    height: 56px;
    border-radius: 15px;
    margin-bottom: 30px;
    outline: none;
    padding-left: 20px;
}

input:focus {
    border: 3px solid #43B97F;
}

input::placeholder {
    font-weight: 800;
    opacity: 50%;
}

button {
    color: #FFFFFF;
    display: block;
    width: 512px;
    height: 56px;
    border-radius: 15px;
    font-weight: 800;
    background-color: #43B97F;
    font-family: Nunito;
    font-size: 20px;
}

.lockBox {
    width: 300px;
    margin-top: 100px;
}



.lock img {
    position: absolute;
    top: 370px;
    right: 290px;
    z-index: 3;
}

.orangeKey {
    position: absolute;
    top: 150px;
    animation: moveAround 20s linear 0s infinite;
}

.circle {
    width: 23px;
    height: 23px;
    background-color: #C280D2;
    border-radius: 50%;
    filter: blur(8px);
    position: absolute;
    right: 50px;
    animation: moveAround1 20s ease-in-out 0s infinite;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #43B97F;
    border-bottom: 20px solid transparent;
    filter: blur(8px);
    position: absolute;
    animation: moveAround2 20s linear 0s infinite;
    
}

.purpleKey {
    position: absolute;
    right: 100px;
    animation: moveAround3 20s linear 0s infinite;
}

.footer{
    font-size: 14px;
}

@keyframes spin {
    0%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
}

@keyframes moveAround {
    0%   {right:500px; top:150px;}
    25%  {right:150px; top:150px; transform: rotate(360deg);}
    50%  {right:150px; top:550px;}
    75%  {right:500px; top:550px;}
    100% {right:500px; top:150px;}
}

@keyframes moveAround1 {
    0%   {right:150px; top:150px;}
    25%  {right:150px; top:550px; transform: rotate(360deg);}
    50%  {right:500px; top:550px;}
    75%  {right:500px; top:150px;}
    100% {right:150px; top:150px;}
}

@keyframes moveAround2 {
    0%   {right:500px; top:550px;}
    25%  {right:500px; top:150px; transform: rotate(360deg);}
    50%  {right:150px; top:150px;}
    75%  {right:150px; top:550px;}
    100% {right:500px; top:550px;}
}

@keyframes moveAround3 {
    0%   {right:150px; top:550px;}
    25%  {right:500px; top:550px; transform: rotate(360deg);}
    50%  {right:500px; top:150px;}
    75%  {right:150px; top:150px;}
    100% {right:150px; top:550px;}
}



@media (max-width: 650px) {
    .logoDiv {
        margin: 30px 0 0 30px;
    }

    .keyHolder{
        display: none;
    }

    .formContainer {
        min-width: 300px;
        padding: 0 auto;
        align-self: flex-start;
        margin-top: 50px;
    }
    h2,
    input,
    button,
    p {
        width: 100%;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    form {
        margin: 0 10px;
    }
}